*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  
}

/* body {
  overflow-y: scroll; 
  scrollbar-width: none; 
} */

/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  display: none;
}